/* Base styles */
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  min-height: 100vh;
  background-color: #f0eef7;
}

.container {
  width: 100%;
  max-width: 1100px;
  background-color: #f0eef7;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.mainHeading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.center {
  text-align: center;
  margin-top: 2rem;
}

/* Form grid */
.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
}

.inputContainer label {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.inputContainer input {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  height: 2.5rem;
}

/* Error */
.error {
  color: red;
  font-size: 0.9rem;
  margin-top: 0.3rem;
}

.inputBoxError {
  border: 1.5px solid red;
  background-color: rgb(227, 184, 184);
}

/* Submit Button */
.input input[type="submit"] {
  background-color: #4f46e5;
  color: white;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.input input[type="submit"]:hover {
  background-color: #4338ca;
}

/* Link */
.link {
  color: #2563eb;
  text-decoration: none;
}

/* Error wrapper */
.area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Skeleton Loader Adjustments */
.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media Queries */
@media (min-width: 600px) {
  .form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .form {
    grid-template-columns: repeat(3, 1fr);
  }

  .mainHeading {
    font-size: 3rem;
  }
}
